%% The name of the package
{package_name, "etsdb"}.

%% The details of the package author
{package_author_name, "Philip Cristiano"}.
{package_author_email, "philipcristiano@gmail.com"}.

%% The user under which the service is going to run
{package_install_user, "etsdb"}.
{package_install_user_desc, "User for etsdb"}.

%% Package description
{package_shortdesc, "Erlang TSDB"}.
{package_desc, "Etlang TSDB"}.

%% License and copyright info for the package metadata
{license_type, "Apache 2"}.
{copyright, "2014 Philip Cristiano"}.
