{deps, [
    {eleveldb, "2.0", {git, "https://github.com/basho/eleveldb.git"}},
    {riak_core, "2.0", {git, "https://github.com/basho/riak_core", "2.0"}},
    {cowboy, "1.0.0", {git, "https://github.com/ninenines/cowboy", "1.0.0"}},
    {jsx, "2.1.1", {git, "https://github.com/talentdeficit/jsx.git", "v2.1.1"}}
]}.

{sub_dirs, [
            "rel"
           ]}.
{erl_opts, [debug_info, nowarn_deprecated_type, {parse_transform, lager_transform}]}.

{require_otp_vsn, "R16"}.
