{paths, ["apps", "deps"]}.

%% comment this line for a release that ships its own Erlang VM
%% {include_erts, false}.
%% uncomment this line to ship a release without the source code included
% {include_src, false}.

{release, {etsdb, semver},
 %% list of apps to include
 [etsdb]}.

{sys_config, "./rel/sys.config"}.
{overlay, [
    {mkdir, "log"},
    {copy, "rel/vm.args",
        "releases/\{\{release_name\}\}-\{\{release_version\}\}/vm.args"}
]}.
