[
  {riak_core, [
         {nodename, "etsdb"},
         {platform_data_dir, "/var/lib/etsdb"},
         {ring_state_dir, "/var/lib/etsdb/ring"},
         {handoff_port, 8090}
  ]},
  {lager, [
    {handlers, [
        {lager_console_backend, info},
        {lager_file_backend, [{file, "/var/log/etsdb/error.log"}, {level, error}]},
        {lager_file_backend, [{file, "/var/log/etsdb/console.log"}, {level, info}]}
    ]}
  ]},
  {etsdb, [
     {data_dir, "/var/lib/etsdb/"},
     {graphite_port, 2008},
     {http_port, 8080}
  ]},
 "/etc/etsdb/etsdb.config"].
